.main-container {
    text-align: center;
    padding: 50px;
    background-color: #f0f1f3; /* Cor de fundo */
  }
  
  h1 {
    font-size: 3em;
    color: rgb(58, 57, 57);
    margin-left:400px;
    font-weight: bold;
  }
  
  p {
    font-size: 30px;
    color: #3a3939;
    margin-left:400px;
    font-weight: bold;
  }
  
  .lorem-text {
    font-size: 14px;
    color: #323232;
    margin-bottom: 30px; /* Espaço antes do botão */
  }
  
  .alternative-container {
    margin-top: -90px;
    padding: 50px;
    background-color: #f0f1f3; /* Cor de fundo */ /* Cor de fundo */
    text-align: right;
  }
  
  .cta-button-2 {
    padding: 12px 24px;
    font-size: 16px;
    border: none;

    border-radius: 5px;
    background-color: #095eba; /* Cor de fundo do botão */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .cta-button:hover {
    background-color: #053b75; /* Cor ao passar o mouse */
  }
  