.card {
    border: 1px solid #0b0b0b;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #fff;
    width: 300px; /* Ajuste o tamanho conforme necessário */
    height:400px;
    margin-top: -160px; /* Espaçamento ao redor do card */
    margin-left:170px;
  }
  
  .card-1 {
    border: 1px solid #0b0b0b;
    border-radius: 8px;
    box-shadow: 0 3px 4px rgba(52, 51, 51, 0.1);
    background: linear-gradient(to bottom, #2578d2, #003d7a);
    overflow: hidden;
    background-color: #fff;
    width: 300px; /* Ajuste o tamanho conforme necessário */
    height:400px;
    margin-top: -406px; /* Espaçamento ao redor do card */
    margin-left:480px;
  }

  .card-2 {
    border: 1px solid #0b0b0b;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(52, 51, 51, 0.1);
    overflow: hidden;
    background-color: #fff;
    width: 300px; /* Ajuste o tamanho conforme necessário */
    height:400px;
    margin-top: -404px; /* Espaçamento ao redor do card */
    margin-left:790px;
  }


  
  
  