.main-container {
    text-align: center;
    padding: 50px;
    background-color: #5d9cdc;
  }
  
  h1 {
    font-size: 3em;
    color: white;
    text-align: left;
    font-weight: bold;
  }
  
  p {
    font-size: 30px;
    color: #f4f2f2;
    text-align: left;
    font-weight: bold;
  }

  .main-container-1 {
    margin-top:-90px;
    
    padding: 50px;
    background-color: #5d9cdc;
  }
  .lorem-text {
    font-size: 14px;
    color: #e6e4e4;
    margin-bottom: 30px; /* Espaço antes do botão */
  }
  
  .cta-button {
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    top:500px;
    background-color: #095eba; /* Cor de fundo do botão */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .cta-button:hover {
    background-color: #053b75; /* Cor ao passar o mouse */
  }