<div class="main-container">
    <div class="plan">
      <h2>Free</h2>
      <p>$0</p>
      <ul>
        <li>Access to basic features</li>
        <li>1 project</li>
        <li>Email support</li>
        <li>Access to basic features</li>
        <li>1 project</li>
        <li>Email support</li>
        <li>Access to basic features</li>
        <li>1 project</li>
        <li>Email support</li>

      </ul>
    </div>
    <div class="plan-2">
        <h2>Personal</h2>
        <p>$10.99</p>
        <ul>
          <li>Access to basic features</li>
          <li>1 project</li>
          <li>Email support</li>
          <li>Access to basic features</li>
          <li>1 project</li>
          <li>Email support</li>
          <li>Access to basic features</li>
          <li>1 project</li>
          <li>Email support</li>
  
        </ul>
      </div>
  </div>
  