/* CSS para centralizar o conteúdo do main-5 */

.main-5-container {
    margin-top:-70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Para centralizar verticalmente na tela */
    text-align: center; /* Centraliza o texto dentro do div */
  }
  
  .button-container {
    margin-top: 20px; /* Espaço acima do botão */
  }
  
  .custom-button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .custom-button:hover {
    background-color: #0056b3;
  }
  